<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.horzwxy.app.pfm.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LogInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewDiningActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".activity.ChooseParticipantsActivity"
            android:label="@string/app_name"/>
        <activity
                android:name=".activity.ListContactsActivity"
                android:label="@string/app_name"/>
        <activity
                android:name=".activity.ListDiningsActivity"
                android:label="@string/app_name"/>
        <activity
                android:name=".activity.ListBillsActivity"
                android:label="@string/app_name"/>
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"/>
        <activity
            android:name=".activity.ShowDiningActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".activity.DisplayPartcipantsActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".activity.ManageCostAcvtivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".activity.DisplayCostActivity"
            android:label="@string/app_name"/>
    </application>

</manifest>
